/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}

i {
  color: gray;
  cursor: pointer;
}

.dsp-none {
  display: none;
}

.stk-tru {
  color: gray;
  text-decoration: line-through;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 25px 0;
  background-color: #ebebeb;
}

.todo-app {
  width: 90%;
  margin: auto;
  box-shadow: 0 0 7px gray;
  background-color: #fff;
}

.task-board {
  width: 100%;
  list-style: none;
}

.task-board > li {
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.task-list {
  padding: 0 20px;
}

.task-list-group {
  list-style: none;
}

li.tasks {
  padding: 20px 20px;
  font-size: 1.17rem;
  border-bottom: 1px solid #ebebeb;
  cursor: move;
  display: flex;
  align-items: center;
}

li.tasks > input {
  margin-right: 10px;
}

li.tasks > i {
  margin-left: auto;
}

li.add-task {
  padding: 10px 20px;
}

.add-task > form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.add-task input {
  padding: 10px 0;
  border: none;
  background: none;
}

.add-task input[type='text'] {
  flex-basis: 90%;
  font-style: italic;
  font-size: 1.17rem;
  outline: none;
}

.add-task-btn {
  background: none;
  border: none;
  font-size: 19px;
}

.clear-list {
  background-color: #ebebeb;
  color: gray;
  font-size: 1.17rem;
  text-align: center;
  cursor: pointer;
}
